:root{
	--darkBlue: #020659;
	--navyBlue: #020873;
	--royalBlue: #030abc;
	--skyBlue: #0d8df8;
	--mediumBlue: #2104d9;
    --brightBlue: #2699fb;
    --mulberryWood: #590242;
	
	--white: #f8f6f1;
	--lightGray: #aaa7a7;
	--mediumGray: #555;
	--darkGray: #323131;
    --transparent: rgba(215, 209, 209, 0.549);
	
	--body-fonts: Verdana, Tahoma, sans-serif;	
	
}

html{
    background-color: var(--darkBlue);
}

body{
    max-width:834px;
    margin: 0 auto;
    background-color: var(--white);
	font-family: var(--body-fonts);
}

.header{
	margin: 0 auto;
    background-color: #01148c;
    color: white;
    display: flex;
	justify-content: space-between;
	align-items: center;
    flex-direction:column-reverse;
}


h1{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--body-fonts);
    display: inline-block;
    margin: 0 auto;  
}
  
nav ul{
    display: flex;
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0;
    gap: 1rem;
}

nav a{
    font-size: 1.3rem;
    font-weight: 200;
    font-variant: small-caps;
    color: var(--white);
	text-decoration: none;
    text-align: center;
    display: flex;
}

nav a:hover{
	background-color: var(--mulberryWood);
	color: var(--skyBlue);
}

#siteName a{
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0 0.5rem 0 0; 
}

#siteName a:hover{
	background-color: var(--mulberryWood);
    color:var(--skyBlue);
}

#smoothJazz{
    background: linear-gradient(to right, var(--mediumBlue), var(--royalBlue), var(--navyBlue), var(--darkBlue), black);
    padding-left: 3rem;
    
}

#smoothJazz h1{
    font-family: var(--body-fonts);
    font-size: 1.7rem;
    font-weight: 700;
    padding-right: 3.5rem;
    padding-top: 1rem;
}

#smoothJazz p{
    padding: 0 0 1rem 0;
    font-family: var(--body-fonts);
}

#trendingSongs{
    color: var(--mulberryWood);
}

#trendingSongs h2{
    padding-top: 2rem;
    margin-left: 3rem;
}

#trendingSongs h3 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    
}

#trendingSongs .artist{
    text-align: left;
}

dl {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.3rem;
    margin-top: 0;
}

dt {
    padding: .05rem; 
}

dd {
    padding: 0rem;
    margin-left: 0.2rem;
    margin-top: 0.1rem;
    
}

.artistSong audio {
    position: absolute;
    bottom: 8rem;
    left: 0rem;
    z-index: 1;
}


#scrollBar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
    overflow-y: hidden;
    gap: 0.5rem;
}

#scrollBar section{
    margin: 0.5rem;
    position: sticky;
     
}

#scrollBar .artist{
    position: absolute;
    background-color: var(--transparent);
    width: 17.6rem;
    height: 4rem;
    top: 215px;
    padding: 1rem;    
}

.more{ 
    margin:0 0 2rem 42rem;
}

#playlist{
    max-width: 834px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

#playlist h2{
    color: var(--mulberryWood);
    text-align: left;
    margin-left: 2rem;
}

#playlist h3,
#playlist p{
    color: var(--white);
}

#yourPlaylist {
    max-width: 417px;
    grid-column: 1/2;
      
}

#yourPlaylist section {
    background-color: var(--skyBlue);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0.3rem;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
   
    
}


#curatedPlaylist {
    max-width: 417px;
    grid-column: 2/3;
      
}

#curatedPlaylist section {
    background-color: var(--royalBlue);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0.3rem;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    

}


button {
    background-color: var(--mulberryWood);
    color: var(--white);
    border-radius: 6px;
    width: 150px;
    height: 25px;
    margin: 5rem 0 0 5rem; 
}

#playlist button {
    background-color: var(--mulberryWood);
    color: var(--white);
    border-radius: 10px;
    width: 150px;
    height: 25px;
    margin: 1rem 0 0 16rem;
     
}

button:hover {
    background-color: var(--darkBlue);
}

#playlist button:hover {
    background-color: var(--darkBlue);
     
}


footer {
    color: var(--mulberryWood);
    margin: 5rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
    margin: 0 auto;
    
}
footer p{
    text-align: center;
}

audio::-webkit-media-controls-mute-button {
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: var(--transparent);
}

#trendingSongs ::-webkit-scrollbar {
    width: 9px;

}
#trendingSongs ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px var(--mulberryWood); 

}
#trendingSongs ::-webkit-scrollbar-thumb {
    border-radius: 10px 5px 5px 10px;
    background-color: var(--mulberryWood);

}
#trendingSongs ::-webkit-scrollbar-thumb:hover {
    background-color: var(--mulberryWood);

}
#yourPlaylist ::-webkit-scrollbar, #curatedPlaylist ::-webkit-scrollbar {
    width: 14px;
}
#yourPlaylist ::-webkit-scrollbar-track, #curatedPlaylist ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 10px var(--darkBlue);
}
#yourPlaylist ::-webkit-scrollbar-thumb, #curatedPlaylist ::-webkit-scrollbar-thumb {
    background-color: var(--darkBlue);
    border-radius: 10px 5px 5px 10px;
}
#yourPlaylist ::-webkit-scrollbar-thumb:hover, #curatedPlaylist ::-webkit-scrollbar-thumb:hover {
    background-color: var(--white);
}





