:root{
	--darkBlue: #020659;
	--navyBlue: #020873;
	--royalBlue: #030abc;
	--skyBlue: #0d8df8;
	--mediumBlue: #2104d9;
    --brightBlue: #2699fb;
    --mulberryWood: #590242;
	
	--white: #f8f6f1;
	--lightGray: #aaa7a7;
	--mediumGray: #555;
	--darkGray: #323131;
	
	--body-fonts: Verdana, Tahoma, sans-serif;
	
	
}