:root{
	--darkBlue: #020659;
	--navyBlue: #020873;
	--royalBlue: #030abc;
	--skyBlue: #0d8df8;
	--mediumBlue: #2104d9;
    --brightBlue: #2699fb;
    --mulberryWood: #590242;
	
	--white: #f8f6f1;
	--lightGray: #aaa7a7;
	--mediumGray: #555;
	--darkGray: #323131;
	
	--body-fonts: Verdana, Tahoma, sans-serif;	
	
}

html{
    background-color: var(--darkBlue);
}

body{
    color: var(--white);
	font-family: var(--body-fonts);
	margin: 0 auto;
    max-width: 1200px;  
  
}

header {
	margin: 0 auto;
    background: linear-gradient(to right, var(--mediumBlue), var(--royalBlue), var(--navyBlue));	 

}

img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

h1{
    font-size: 2.5rem;
    display: inline-block;
    margin: 1.25rem 0 0 2rem;
    font-family: var(--body-fonts);
    font-weight: bold;
    text-decoration: none;
}

h1 a {
    float: left;
	text-decoration: none;
}

h1 a:hover{
	background-color: var(--mulberryWood);
	color:var(--skyBlue);  
}

a{
    display: block;
    padding: 1rem;
    color: var(--white);
    
}

nav{
    float: right;
    margin-right: 7.5rem;
    margin-top: 1rem;
}

nav ul{
    list-style-type: none;
    margin-left: 2rem;
    padding-left: 0;
}

nav li{
    float: left;
}

nav a{
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 1.7rem;
	text-decoration: none;
	text-transform: uppercase;
	
}

nav a:hover{
	text-decoration: none;
	background-color: var(--mulberryWood);
	color: var(--skyBlue);
}

li img:hover{
    background-color: var(--mulberryWood);
	color: var(--skyBlue);
}

main {
	margin: 0 auto;	
}

#container{
    display: grid;

}

.five-column-grid {
    grid-column: 1 / span 5; 
    grid-template-columns: repeat(5, 1fr); 
}

.two-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    } 



#smoothJazz{
    background: linear-gradient(to right, var(--mediumBlue), var(--royalBlue), var(--navyBlue), var(--darkBlue), black);
    padding-left: 3rem;
    margin-top: -1.1rem;
    padding-top: .2rem;
    grid-template-columns: repeat(4, 1fr);
    
}

#smoothJazz h2{
    font-family: var(--body-fonts);
    font-size: 1.7rem;
}

#smoothJazz p{
    
    padding: 0 0 1rem 0;
    font-family: var(--body-fonts);
}

#trendingSongs{
    background-color: var(--white);
    color: var(--mulberryWood);
    margin-top: -1.1rem;
    padding-top: .2rem;
    
    
}

#trendingSongs h3{
    font-weight: 600; 
}

#yourPlaylist{
    background-color: var(--brightBlue);
    margin-top: -1.1rem;
    padding-top: .2rem;
}

#curatedPlaylist{
    background-color: var(--navyBlue);
    margin-top: -1.1rem;
    padding-top: .2rem;
}

footer{
	margin: 0 auto;
    background-color: var(--white);
    color: var(--darkBlue);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: -1rem;
}

@media screen and (min-width: 834px){
    
}




